.word-explanation{
	padding-left: 10px;
	font: italic 15px serif;
	color: #8D8D8D;
}
.card {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	color: #DCDCDC;
	background-color: #24292e;
}

.clue {
	background: #d9534f;
	padding: .5em 1em;
	font-weight: 600;
	color: #FFF;
	top: -20px;
	left: -15px;
	display: inline-block;
	position: relative;
}

img {
	max-width: auto;
	max-height: 250px;
	/* center image*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*Image shadow*/
	padding: 5px;
	box-shadow: 0px 0px 8px #2c3e50;
}
table {
	width: 100%;
	padding: 12px;
}
.Question {
	font-size: 27px;
	color: #FFFAFA;
	background-color: #2f3338;
	border-radius: 15px 15px 0px 0px;
	opacity: 0.95;
	box-shadow: 0px 0px 10px #16191a;
}
.Content {
	background-color: #343a40;
	opacity:  0.95;
	height: 100%;
	box-shadow: 0px 0px 10px #16191a;
}
.ExamplesBack {
	background-color: #343a40;
	border-radius: 0px 0px 15px 15px;
	padding: 8px;
	text-align: center;
	font-size: 14px;
	color: #8D8D8D;
}

td {
	text-align: left;
}
.Centrado {
	padding-top: 5px;
	text-align: center;
	opacity: 1;
}
.CentradoBack {
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	opacity: 1;
	color: #FFAE00;
}
.cloze {
	color: #f0ad4e;
}
.Transcription {
	font-size: 16px;
	vertical-align: middle;
	color: #8D8D8D;
}
.button {
	background-color: #343a40;
	border: none;
	border-radius: 12px;
	color: #b3b3b3;
	padding: 10px 3%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 2vw;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	min-width: 30px;
}
.button-panel {
	padding-top: 10px;
	text-align: center;
	white-space: nowrap;
}
.Related-words {
	font-size: 11px;
	vertical-align: middle;
	text-align: center;
	padding-bottom: 1%;
	color: #8D8D8D;
}

/*----------------*/

/*switch styles*/

div.btn-container{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

label {
	font-size: 13px;
	color: #8D8D8D;
	font-weight: 500;
}

.btn-color-mode-switch{
	display: inline-block;
	margin: 0px;
	position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
	margin: 0px;
	width: 140px;
	height: 30px;
	/* цвет фона */
	background: #343a40;
	border-radius: 26px;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease;
	display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
	content: attr(data-on);
	position: absolute;
	font-size: 12px;
	font-weight: 500;
	top: 7px;
	right: 20px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
	content: attr(data-off);
	width: 70px;
	height: 16px;
	/* цвет кружка */
	background: #2f3338;
	border-radius: 26px;
	position: absolute;
	left: 2px;
	top: 2px;
	text-align: center;
	transition: all 0.3s ease;
	box-shadow: 0px 0px 6px -2px #111;
	padding: 5px 0px;
}

.btn-color-mode-switch input[type="checkbox"]{
	cursor: pointer;
	width: 50px;
	height: 25px;
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 1;
	margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
	content: attr(data-on);
	left: 68px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
	content: attr(data-off);
	right: auto;
	left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
	display: block;
}
